{% extends "base.html" %}

{% block title %}BeanGrid - Plaintext Spreadsheet{% endblock %}

{% block content %}
<div id="app">
    <!-- React app will be rendered here -->
</div>

<!-- React and ReactDOM CDN -->
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

<!-- Babel for JSX -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- Our React app -->
<script type="text/babel" src="{{ url_for('static', path='/app.js') }}"></script>
{% endblock %} 